{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": ["import"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
